/* Region markdown --BEGIN*/

.dmuka-markdown .markdown .markdown-item {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: 23px;
}

/* Region markdown --END*/

/* Region javascript --BEGIN*/

.dmuka-markdown .markdown-javascript {
    color: #000;
}

.dmuka-markdown .markdown-javascript .try, .dmuka-markdown .markdown-javascript .catch, .dmuka-markdown .markdown-javascript .for, .dmuka-markdown .markdown-javascript .if, .dmuka-markdown .markdown-javascript .else, .dmuka-markdown .markdown-javascript .while, .dmuka-markdown .markdown-javascript .do, .dmuka-markdown .markdown-javascript .switch {
    color: #69158f;
}

.dmuka-markdown .markdown-javascript .this, .dmuka-markdown .markdown-javascript .break, .dmuka-markdown .markdown-javascript .continue, .dmuka-markdown .markdown-javascript .var, .dmuka-markdown .markdown-javascript .let, .dmuka-markdown .markdown-javascript .const, .dmuka-markdown .markdown-javascript .function, .dmuka-markdown .markdown-javascript .false, .dmuka-markdown .markdown-javascript .true, .dmuka-markdown .markdown-javascript .new, .dmuka-markdown .markdown-javascript .null, .dmuka-markdown .markdown-javascript .undefined, .dmuka-markdown .markdown-javascript .case, .dmuka-markdown .markdown-javascript .default, .dmuka-markdown .markdown-javascript .typeof, .dmuka-markdown .markdown-javascript .return {
    color: #0000e6;
}

.dmuka-markdown .markdown-javascript .document, .dmuka-markdown .markdown-javascript .window, .dmuka-markdown .markdown-javascript .dollar {
    color: rgb(160, 83, 0);
}

.dmuka-markdown .markdown-javascript .special-function-or-variable {
    color: rgb(142, 139, 0);
}

.dmuka-markdown .markdown-javascript .string {
    color: #800000;
}

.dmuka-markdown .markdown-javascript .regex {
    color: #bb3500;
}

.dmuka-markdown .markdown-javascript .description {
    color: green;
}

/* Region javascript --END*/

/* Region csharp --BEGIN*/

.dmuka-markdown .markdown-csharp {
    color: #000;
}

.dmuka-markdown .markdown-csharp .try, .dmuka-markdown .markdown-csharp .catch, .dmuka-markdown .markdown-csharp .for, .dmuka-markdown .markdown-csharp .if, .dmuka-markdown .markdown-csharp .else, .dmuka-markdown .markdown-csharp .while, .dmuka-markdown .markdown-csharp .do, .dmuka-markdown .markdown-csharp .switch {
    color: #69158f;
}

.dmuka-markdown .markdown-csharp .void, .dmuka-markdown .markdown-csharp .lock, .dmuka-markdown .markdown-csharp .checked, .dmuka-markdown .markdown-csharp .unchecked, .dmuka-markdown .markdown-csharp .var, .dmuka-markdown .markdown-csharp .new, .dmuka-markdown .markdown-csharp .const, .dmuka-markdown .markdown-csharp .typeof, .dmuka-markdown .markdown-csharp .case, .dmuka-markdown .markdown-csharp .default, .dmuka-markdown .markdown-csharp .switch, .dmuka-markdown .markdown-csharp .break, .dmuka-markdown .markdown-csharp .continue, .dmuka-markdown .markdown-csharp .return, .dmuka-markdown .markdown-csharp .true, .dmuka-markdown .markdown-csharp .false, .dmuka-markdown .markdown-csharp .null, .dmuka-markdown .markdown-csharp .async, .dmuka-markdown .markdown-csharp .await, .dmuka-markdown .markdown-csharp .public, .dmuka-markdown .markdown-csharp .private, .dmuka-markdown .markdown-csharp .protected, .dmuka-markdown .markdown-csharp .internal, .dmuka-markdown .markdown-csharp .static, .dmuka-markdown .markdown-csharp .virtual, .dmuka-markdown .markdown-csharp .override, .dmuka-markdown .markdown-csharp .abstract, .dmuka-markdown .markdown-csharp .sealed, .dmuka-markdown .markdown-csharp .get, .dmuka-markdown .markdown-csharp .set, .dmuka-markdown .markdown-csharp .using, .dmuka-markdown .markdown-csharp .namespace, .dmuka-markdown .markdown-csharp .class, .dmuka-markdown .markdown-csharp .struct, .dmuka-markdown .markdown-csharp .stringVar, .dmuka-markdown .markdown-csharp .bool, .dmuka-markdown .markdown-csharp .byte, .dmuka-markdown .markdown-csharp .sbyte, .dmuka-markdown .markdown-csharp .short, .dmuka-markdown .markdown-csharp .ushort, .dmuka-markdown .markdown-csharp .int, .dmuka-markdown .markdown-csharp .uint, .dmuka-markdown .markdown-csharp .long, .dmuka-markdown .markdown-csharp .ulong, .dmuka-markdown .markdown-csharp .float, .dmuka-markdown .markdown-csharp .double, .dmuka-markdown .markdown-csharp .decimal, .dmuka-markdown .markdown-csharp .throw, .dmuka-markdown .markdown-csharp .this, .dmuka-markdown .markdown-csharp .implicit, .dmuka-markdown .markdown-csharp .explicit, .dmuka-markdown .markdown-csharp .operator {
    color: #0000e6;
}

.dmuka-markdown .markdown-csharp ._elif, .dmuka-markdown .markdown-csharp ._else, .dmuka-markdown .markdown-csharp ._endif, .dmuka-markdown .markdown-csharp ._endregion, .dmuka-markdown .markdown-csharp ._error, .dmuka-markdown .markdown-csharp ._if, .dmuka-markdown .markdown-csharp ._line, .dmuka-markdown .markdown-csharp ._pragma, .dmuka-markdown .markdown-csharp ._region, .dmuka-markdown .markdown-csharp ._warning {
    color: #888888;
}

.dmuka-markdown .markdown-csharp .interface {
    color: rgb(142, 139, 0);
}

.dmuka-markdown .markdown-csharp .string {
    color: #800000;
}

.dmuka-markdown .markdown-csharp .description {
    color: green;
}

/* Region csharp --END*/

/* Region css --BEGIN*/

.dmuka-markdown .markdown-css {
    color: rgb(72, 101, 210);
}

.dmuka-markdown .markdown-css .string {
    color: #800000;
}

.dmuka-markdown .markdown-css .css-begin, .dmuka-markdown .markdown-css .css-end {
    color: #b1b1b1;
}

.dmuka-markdown .markdown-css .css-datas {
    color: #a73700;
}

.dmuka-markdown .markdown-css .right-side {
    color: #000000;
}

.dmuka-markdown .markdown-css .description {
    color: green;
}

/* Region css --END*/

/* Region html --BEGIN*/

.dmuka-markdown .markdown-html {
    color: #000;
}

.dmuka-markdown .markdown-html .open-tag {
    color: #000000;
}

.dmuka-markdown .markdown-html .tag-name, .dmuka-markdown .markdown-html .close-tag {
    color: #0e82b5;
}

.dmuka-markdown .markdown-html .string {
    color: #800000;
}

.dmuka-markdown .markdown-html .description {
    color: green;
}

/* Region html --END*/

/* Theme For All Things --BEGIN */

.dmuka-markdown * {
    margin: 0px;
}

.dmuka-markdown {
    font-family: arial;
    font-size: 14px;
    background-color: #f9f9f9;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    color: #6d6d6d;
    width:100%;
}

.dmuka-markdown blockquote {
    box-sizing: border-box;
    width: calc(100% - 30px);
    border-left: 5px solid #e8e8e8;
    margin-left: 30px;
    padding-left: 10px;
    display: inline-block;
    color: #848484;
    line-height: 23px;
}

.dmuka-markdown code {
    display: inline-block;
    box-sizing: border-box;
    font-size: 13px;
    background-color: #e0e0e0;
    width: 100%;
    padding-left: 10px;
    line-height: 20px;
    font-family: monospace;
    color: #5f5f5f;
}

.dmuka-markdown table {
    width: 100%;
}

.dmuka-markdown th {
    color: #656565;
}

.dmuka-markdown td {
    color: #8e8e8e;
}

.dmuka-markdown th, .dmuka-markdown td {
    padding: 5px;
}

.dmuka-markdown th:not(:last-child), .dmuka-markdown td:not(:last-child) {
    border-right: 1px solid #dcdcdc;
}

.dmuka-markdown tr:not(:last-child) th, .dmuka-markdown tr:not(:last-child) td {
    border-bottom: 1px solid #dcdcdc;
}

/* Theme For All Things --BEGIN */